/*
fontweights:
regular 400
regular 400 italic
bold 700
bold 700 italic
*/

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap);
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0px;
    color: #3C3C3C;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

header {
    padding: 10px;
    padding-top: 10px;
    margin: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

p {
    font-size: 28px;
    line-height: 50px;
}

#header {
    background-image: url(./img/001-2.PNG);
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
    border-radius: 0;
    margin-bottom: 0;
    position: relative;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 3px;
}

.nav-bar {
    text-align: center;
    padding: 0px;
}

h1.hover {
    color: #2D7DD2;
    font-size: 5.5em;
}

h1.hover:hover {
    text-decoration: underline;
    color: #97CC04;

}

.section {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

h1.highlight:hover {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #FFE644 100%, #fff 0);
}

#latestEvent {
    background-image: url(./img/002-2.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
    border-radius: 0;
    margin-bottom: 0;
    position: relative;
}

h1.latestEvent {
    color: white;
    font-size: 5.5em;
}

p.section {
    padding: 0 250px 20px 250px;
}

.contact {
    background-color: #2D7DD2;
    margin: 0;
}

.contact p {
    color: white;
    padding: 20px 50px 20px 50px;
    margin-bottom: 0;
}

a.highlight:hover {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #FFE644 100%, #fff 0);
}